aiohappyeyeballs==2.6.1 ; python_version >= "3.11"
aiohttp-session==2.12.1 ; python_version >= "3.11"
aiohttp==3.13.5 ; python_version >= "3.11"
aiosignal==1.4.0 ; python_version >= "3.11"
attrs==26.1.0 ; python_version >= "3.11"
audioop-lts==0.2.2 ; python_version >= "3.13"
backports-tarfile==1.2.0 ; python_version == "3.11"
bcrypt==5.0.0 ; python_version >= "3.11"
cffi==2.0.0 ; python_version >= "3.11"
cryptography==46.0.7 ; python_version >= "3.11"
frozenlist==1.8.0 ; python_version >= "3.11"
idna==3.11 ; python_version >= "3.11"
jaraco-context==6.1.2 ; python_version >= "3.11"
lxmf==0.9.7 ; python_version >= "3.11"
lxst==0.4.6 ; python_version >= "3.11"
miniaudio==1.70 ; python_version >= "3.11"
multidict==6.7.1 ; python_version >= "3.11"
numpy==2.4.4 ; python_version >= "3.11"
ply==3.11 ; python_version >= "3.11"
propcache==0.4.1 ; python_version >= "3.11"
psutil==7.2.2 ; python_version >= "3.11"
pycodec2==4.1.1 ; python_version >= "3.11"
pycparser==3.0 ; python_version >= "3.11"
pyserial==3.5 ; python_version >= "3.11"
bleak==3.0.1 ; python_version >= "3.11"
rns==1.2.5 ; python_version >= "3.11"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
websockets==16.0 ; python_version >= "3.11"
yarl==1.23.0 ; python_version >= "3.11"
